/*nav a
hero-msg h1{
    text-align: center;
    font-size:65%;
    font-family:sans-serf;
    margin-bottom: 25;
} , 
#hero-msg h4
.button-box {
#background {
    background-color: lightblue;
    height:725px;
    max-width: 1600px;
}
body {
    background-color: #fcfbfb;
}
header {
    background-color: rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3
}
.icon {
    width: 80px;
}
.{
    margin:0px;
    padding:0px;
}
.hero{
    width:100%;
    margin-top:50px;
}
h1{
    text-align:center;
    font-size:65%;
    font-family:sans-serf;
    margin-bottom: 25;
}
img{
    display: block;
    margin:0px auto;
}*/
body{
    background-color: #fcfbfb;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}
.type1{
    width: 100%;
    display:block;
    margin: 0px auto;
}
.rivers-card{
    width: 300px;
    height: 300px;
    display:block;
    margin: 0px auto;
    transform: translate(-50% -50%);
    margin-top: 65px;
    margin-bottom: 65px;
}
.camping-card{
    width: 300px;
    height: 300px;
    display:block;
    margin: 0px auto;
    transform: translate(-50% -50%);
    margin-top: 65px;
    margin-bottom: 65px;
}
.rapids-card{
    width: 300px;
    display:block;
    margin: 0px auto;
    transform: translate(-50% -50%);
    margin-top: 65px;
    margin-bottom: 65px;
}
.icon {
    width: 80px;
    padding-right: 30px;
    align-items: left;
    padding-top: 10px;
}
.type5{
    width: 80%;
    display:block;
    margin: 0px auto;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
}
.book{
    text-align: center;
    display:block;
    margin: 0px auto;
}
.msg{
    text-align: center;
}
footer p {
    font-size: 1.2em;
}
footer {
    background-color: #747464;
    margin-top: 200px;
    padding: 25px 50px; 
}
.msg{
    background-color: #747464;
    padding: 35px;
    background-color: #6f7364;
    line-height: 1.5em; 
}
.appeared-in-color{
    background-color: #747464;
}       
.c{
    background-color: #d9c2a3;
    width: 100%;
    height: 300px;
    border: 1px;
    box-sizing: border-box;
    margin: 0px;
    margin-bottom: 30px;
}
.rivers-card{
    width:300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.camping-card{
    width:300px;
    margin-top: 65px;
    margin-bottom: 65px;
}
.card-img{
    width:300px;
    margin-top: 65px;
    margin-bottom: 65px;
    border: 10px solid #d9c2a3;
}
.book, .join{
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 15px;
    margin-top: 50px;
    border-radius: 5px;
}
nav a {
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.msg p{
    padding-bottom: 15px;
}
.home-title {
    font-family: 'Bradley Hand';
    font-size: 2em;
    color: #d9c2a3;
}
.mountains{
    margin-bottom: 60px;
    margin-top: 50px;
}